<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_SalesManago>
            <version>0.1.1</version>
        </Devopensource_SalesManago>
    </modules>
    <global>
        <models>
            <devopensalesmanago>
                <class>Devopensource_SalesManago_Model</class>
                <resourceModel>devopensalesmanago_resource</resourceModel>
            </devopensalesmanago>
            <devopensalesmanago_resource>
                <class>Devopensource_SalesManago_Model_Resource</class>
                <entities>
                    <customersync>
                        <table>salesmanago_customer_sync</table>
                    </customersync>
                </entities>
            </devopensalesmanago_resource>
        </models>
        <blocks>
            <devopensalesmanago>
                <class>Devopensource_SalesManago_Block</class>
            </devopensalesmanago>
        </blocks>
        <resources>
            <devopensalesmanago_setup>
                <setup>
                    <module>Devopensource_SalesManago</module>
                    <class>Devopensource_SalesManago_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </devopensalesmanago_setup>
            <devopensalesmanago_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </devopensalesmanago_write>
            <devopensalesmanago_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </devopensalesmanago_read>
        </resources>
        <helpers>
            <devopensalesmanago>
                <class>Devopensource_SalesManago_Helper</class>
            </devopensalesmanago>
        </helpers>
        <events>
            <customer_save_before>
                <observers>
                    <devopensalesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Devopensource_SalesManago_Model_Observer</class>
                        <method>customerEvent</method>
                    </devopensalesmanago_tracking_observer>
                </observers>
            </customer_save_before>
            <newsletter_subscriber_save_before>
                <observers>
                    <devopensalesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Devopensource_SalesManago_Model_Observer</class>
                        <method>newletterEvent</method>
                    </devopensalesmanago_tracking_observer>
                </observers>
            </newsletter_subscriber_save_before>
            <checkout_onepage_controller_success_action>
                <observers>
                    <devopensalesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Devopensource_SalesManago_Model_Observer</class>
                        <method>purchaseEvent</method>
                    </devopensalesmanago_tracking_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_cart_save_after>
                <observers>
                    <devopensalesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Devopensource_SalesManago_Model_Observer</class>
                        <method>cartEvent</method>
                    </devopensalesmanago_tracking_observer>
                </observers>
            </checkout_cart_save_after>
            <wishlist_product_add_after>
                <observers>
                    <devopensalesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Devopensource_SalesManago_Model_Observer</class>
                        <method>whislistEvent</method>
                    </devopensalesmanago_tracking_observer>
                </observers>
            </wishlist_product_add_after>
            <customer_login>
                <observers>
                    <devopensalesmanago_tracking_observer>
                        <type>singleton</type>
                        <class>Devopensource_SalesManago_Model_Observer</class>
                        <method>customerLoginEvent</method>
                    </devopensalesmanago_tracking_observer>
                </observers>
            </customer_login>
            <webforms_result_submit>
                <observers>
                    <webforms_result_submit_observer>
                        <type>singleton</type>
                        <class>Devopensource_SalesManago_Model_Observer</class>
                        <method>contactFormEvent</method>
                    </webforms_result_submit_observer>
                </observers>
            </webforms_result_submit>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <devopensalesmanago>
                    <file>devopensalesmanago.xml</file>
                </devopensalesmanago>
            </updates>
        </layout>
        <translate>
            <modules>
                <devopensalesmanago>
                    <files>
                        <default>Devopensource_SalesManago.csv</default>
                    </files>
                </devopensalesmanago>
            </modules>
        </translate>
        <routers>
            <devopensalesmanago>
                <use>standard</use>
                <args>
                    <module>Devopensource_SalesManago</module>
                    <frontName>salesmanago</frontName>
                </args>
            </devopensalesmanago>
        </routers>
    </frontend>
    <default>
        <devopensalesmanago>
            <general>
                <tracking_js>0</tracking_js>
                <active_popup>0</active_popup>
                <endpoint>www.salesmanago.pl</endpoint>
                <endpoint_popup>https://www.salesmanago.pl/dynamic/XXXXXXXXXXXXXX/popups.js</endpoint_popup>
                <endpoint>www.salesmanago.pl</endpoint>
                <active>0</active>
            </general>
            <newsletter>
                <active_newsletter>0</active_newsletter>
            </newsletter>
            <registration>
                <active_register>0</active_register>
            </registration>
            <purchase>
                <active_purchase>0</active_purchase>
            </purchase>
            <cart>
                <active_cart>0</active_cart>
            </cart>
            <wishlist>
                <active_wishlist>0</active_wishlist>
            </wishlist>
            <navigation>
                <active_navigation>0</active_navigation>
            </navigation>
            <debug>
                <active_debug>0</active_debug>
            </debug>
        </devopensalesmanago>
    </default>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <adminhtml_block_html_before_devopensalesmanago>
                        <class>devopensalesmanago/observer</class>
                        <method>actionExportSm</method>
                    </adminhtml_block_html_before_devopensalesmanago>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <devopensalesmanago before="Mage_Adminhtml">Devopensource_SalesManago_Adminhtml</devopensalesmanago>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <devopensalesmanago_export_products>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>devopensalesmanago/cron::exportProducts</model>
                </run>
            </devopensalesmanago_export_products>
        </jobs>
    </crontab>
</config>