<?xml version="1.0"?>
<config>
    <tabs>
        <devopenall translate="label">
            <label><![CDATA[<div style="line-height: 28px;" >Devopensource</div>]]></label>
            <sort_order>100000</sort_order>
        </devopenall>
    </tabs>
    <sections>
        <devopensalesmanago translate="label" module="devopensalesmanago">
            <label>SalesManago</label>
            <tab>devopenall</tab>
            <sort_order>5000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active>
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <client_id>
                            <label>Client ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </client_id>
                        <api_secret>
                            <label>Api Secret</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </api_secret>
                        <endpoint>
                            <label>Endpoint</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </endpoint>
                        <email>
                            <label>Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </email>
                        <tracking_js>
                            <label>Enable Tracking JS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <tooltip>Enable tracking js in frontend</tooltip>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </tracking_js>
                        <active_popup>
                            <label>Enable Popup JS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <tooltip>Enable API</tooltip>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </active_popup>
                        <endpoint_popup>
                            <label>EndPoint Popup JS</label>
                            <frontend_type>text</frontend_type>
                            <tooltip>Example: https://www.salesmanago.pl/dynamic/XXXXXXXXXXXXXX/popups.js</tooltip>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </endpoint_popup>
                        <connection_timeout>
                            <label>Api Connection Timeout </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Limit the maximum execution time in ms (optional)</comment>
                            <depends><active>1</active></depends>
                        </connection_timeout>
                        <tracking_code_push>
                            <label>Tracking code push </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Example: sm('webPush', ['12345678-1234-1234-1234-123456789abc', '12']);</comment>
                            <depends><active>1</active></depends>
                        </tracking_code_push>
                    </fields>
                </general>
                <newsletter>
                    <label>Newsletter</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_newsletter>
                            <label>Enable Newsletter tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_newsletter>
                        <tags>
                            <label>Tags</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_newsletter>1</active_newsletter></depends>
                        </tags>
                        <tags_guest>
                            <label>Tags for guest</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_newsletter>1</active_newsletter></depends>
                        </tags_guest>
                        <tags_remove>
                            <label>Tags for Opt-out</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_newsletter>1</active_newsletter></depends>
                        </tags_remove>
                    </fields>
                </newsletter>
                <registration>
                    <label>Registration</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_register>
                            <label>Enable Registration tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>Include register and login</tooltip>
                        </active_register>
                        <tags>
                            <label>Tags</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_register>1</active_register></depends>
                        </tags>
                        <tag_customer_prev>
                            <label>Tags for customer Previous</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_register>1</active_register></depends>
                        </tag_customer_prev>
                    </fields>
                </registration>
                <purchase>
                    <label>Purchase</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_purchase>
                            <label>Enable Purchase tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>Include purchase and cart</tooltip>
                        </active_purchase>
                        <tags>
                            <label>Tags</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_purchase>1</active_purchase></depends>
                        </tags>
                    </fields>
                </purchase>
                <cart>
                    <label>Cart</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_cart>
                            <label>Enable Cart tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_cart>
                        <tags>
                            <label>Tags</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_cart>1</active_cart></depends>
                        </tags>
                    </fields>
                </cart>
                <wishlist>
                    <label>Wishlist</label>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_wishlist>
                            <label>Enable Wishlist tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_wishlist>
                        <tags>
                            <label>Tags</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_wishlist>1</active_wishlist></depends>
                        </tags>
                    </fields>
                </wishlist>
                <contact>
                    <label>Contact</label>
                    <sort_order>63</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_contact>
                            <label>Enable Contact Form tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_contact>
                        <tag1>
                            <label>Tag 1 Comentario sobre mi pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag1>
                        <tag2>
                            <label>Tag 2 Atención comercial</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag2>
                        <tag3>
                            <label>Tag 3 Servicio técnico</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag3>
                        <tag4>
                            <label>Tags 4 Cconsulta Administración / Contabilidad</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag4>
                        <tag5>
                            <label>Tag 5 Informar problema en web</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag5>
                        <tag6>
                            <label>Tag 6 Quejas y sugerencias</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag6>
                        <tag7>
                            <label>Tag 7 Ofrecerse proveedor</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag7>
                        <tag8>
                            <label>Tag 8 Otras consultas</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_contact>1</active_contact></depends>
                        </tag8>
                    </fields>
                </contact>
                <navigation>
                    <label>Navigation</label>
                    <sort_order>65</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_navigation>
                            <label>Enable Navigtion Tags</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_navigation>
                    </fields>
                </navigation>
                <sync_products>
                    <label>Sync Products</label>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_sync>
                            <label>Enable Sync Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_sync>
                        <token>
                            <label>Token</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active_sync>1</active_sync></depends>
                        </token>
                    </fields>
                </sync_products>
                <debug>
                    <label>Debug</label>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_debug>
                            <label>Enable Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_debug>
                    </fields>
                </debug>
            </groups>
        </devopensalesmanago>
    </sections>
</config>